body {
    font-family: sans-serif;
    margin: 0 50px;
    background-color: #f5f5f7;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .app {
    background-color:  #fff;
    width: 800px;
    height: 600px;
    /* border: 5px solid #0d6efd; */
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 15px;
  }

  .app-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .app-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1px;
    border-radius: 5px;
    width: 100%;
    height: 100px;
    background-color: #f5f5f7;
  }

   /* .modal-btn {
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
     display: flex;
    justify-content: flex-end; 
  }  */

  #addNew {
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    width: 230px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }

  .fa-plus {
    background-color: #0d6efd;
    color: #fff;
    padding: 3px;
    border-radius: 3px;
  }

#search-btn .input-search {
    display: flex;
    margin-bottom: 5px;
}

#pdlTableList {
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    background-color: #f5f5f7;
    font-size: 12px;
}

.error {
    color: red;
    font-size: 9px;
}

/* scroll table */

/* .my-custom-scrollbar th {
  position: sticky;
  top: 0;
  height: 99px;
}

.my-custom-scrollbar th::after {
  content: '';
  height: 100%;
  width: 1px;
  position: absolute;
  right: 0;
  top: 0;
  background: black;
} */

.my-custom-scrollbar {
  position: relative;
  height: 380px;
  overflow: auto;
}


/* #crudTable th {
  position: sticky;
  top: 0;
}

#crudTable th::after {
  content: '';
  height: 100%;
  width: 1px;
  position: absolute;
  right: 0;
  top: 0;
  background: black;
} */
 
.table-wrapper-scroll-y {
  display: block;
}

/* mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {

  .app {
    max-width: 500px;
    padding: 20px;
    margin: 30px 60px;
    /* height: 100%; */
    box-sizing: border-box;
  }

  .app-title-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .app-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1px;
    border-radius: 5px;
    width: 90%;
    height: 100px;
    background-color: #f5f5f7;
}

  .app-title h4 {
    font-size: 12px;
    font-weight: 800;
  }

  .app-title .sad {
    font-size: 9px;
    font-weight: 1;
  }

  /* .modal-btn {
    max-width: 50%;
  } */

  #addNew {
    /* border-color: #f5f5f7; */
    cursor: pointer;
    background-color: #fff;
    width: 1px;
    /* height: 30%; */
  }

  .fas {
    background-color: #fff;
    color: #0d6efd;
  }

  #addNew span {
    display: none;
  }

  /* .table {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 520px;
    font-size: 12px !important;
  } */

  .table>thead {
    padding: 0 !important;
    margin: 0 !important;
    min-width: 500px;
  }

  .table>:not(caption)>*>* {
    padding: 2px;
    margin: 0px;
    line-height: 0.8rem;
    padding-top: 5px;
  }

  .btn-sm {
    padding: 1px;
    font-size: 10px;
    /* color: #fff; */
  }

  .m-2 {
    margin: 5px 1px!important;
    padding-inline: 6px;
    color: #fff;
  }

 #search {

    width: 50%;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    margin-bottom: 5px;
  }

  .form-control {
    font-size: 12px;
  }
}
